---
title: Documentation
layout: default
showParticles: True
---
{% for item in site.data.docs %}
    {% assign remainder = forloop.index0 | modulo: 4 %}
    {% if remainder == 0 %}
        {% if forloop.index0 != 0 %}
            </div>
        {% endif %}

        <div class="row">
    {% endif %}
    <div class="doc-col col-md-3">
        <a href="{{item.link}}" class="card-link">
            <div class="card docs">
                <div class="card-body">
                    <h3 class="card-title">{{item.name}}</h5>
                    <p class="card-text">{{item.desc}}</p>
                </div>
            </div>
        </a>
    </div>
{% endfor %}
</div>