---
title: Sponsors
layout: default
showParticles: True
---

<div class="mt-4 sponsors">
    <h5>A special thanks goes to all the wonderful people who supported espanso along the way</h5>
    <p>Together, we will make espanso the first universal text expander, open to everyone.</p>

{% for item in site.data.sponsors %}
    {% assign remainder = forloop.index0 | modulo: 6 %}
    {% if remainder == 0 %}
        {% if forloop.index0 != 0 %}
            </div>
        {% endif %}

        <div class="row sponsors mt-4">
    {% endif %}
    <div class="col-md-2">
        <a href="{{item.link}}">
            {% if item.image != "" %}
                <img src="/assets/images/sponsors/{{item.image}}" class="rounded-circle sponsor-img" alt="{{item.name}}">
            {% else %}
                <svg class="rounded-circle sponsor-img" data-jdenticon-value="{{item.name}}">
                    Fallback text or image for browsers not supporting inline svg.
                </svg>
            {% endif %}
            
            <p class="sponsor-name">{{item.name}}</p>
        </a>
    </div>
{% endfor %}
</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/jdenticon@2.2.0" async>
</script>