[Desktop Entry]
Name=Espanso
Comment=Cross-platform Text Expander written in Rust
Exec=espanso launcher
Icon=icon
Type=Application
Categories=Utility;
