<div class="container donate">
    <a name="donate"></a>
    <h2 class="text-center mt-5 mb-4">Donate</h2>
    <div class="row">
        <div class="col-md-3">
            <a href="https://federicoterzi.com" target="_blank">
                <img src="/assets/images/profile.png" class="mb-3"/>
            </a>
        </div>
        <div class="col-md-8">
            <p>Hi! I'm <a href="https://federicoterzi.com" target="_blank">Federico</a>, the creator of espanso. I developed espanso in my (little) spare time
                and I decided to make it open source because I thought it could be useful to many people.
            </p>
            <p class="bigger">If you liked the project, please consider making a small donation, it really helps :)</p>

            <a class="btn btn-lg paypal" target="_blank" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=FHNLR5DRS267E&source=url" role="button">Donate with PayPal</a>
            <a class="btn btn-lg sponsor" target="_blank" href="https://github.com/sponsors/federico-terzi" role="button">Become a GitHub Sponsor</a>           
        </div>
    </div>
</div>
