<div class="footer-section">
    <div class="contrib-box">
        <h2 class="mb-4">Contributing</h2>
        <p><b>espanso</b> is open source and <a href="https://github.com/federico-terzi/espanso">hosted on GitHub</a>.</p>
        <a class="github-button" href="https://github.com/federico-terzi/espanso" data-size="large" data-show-count="true" aria-label="Star federico-terzi/espanso on GitHub">Star</a>
        <p>If you find a bug or have an idea for a new feature, 
            please <a href="https://github.com/federico-terzi/espanso/issues">open an issue on GitHub</a>.</p>
    </div>
    <div class="copy-box">
        <p class="bottom-paragraph">Designed and created by <a href="https://federicoterzi.com" target="_blank">Federico Terzi</a>. Copyright © <a href="https://federicoterzi.com" target="_blank">Federico Terzi</a> 2019-2021</p>
    </div>
</div>