<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="/">
        <img src="/assets/images/espanso.svg" class="logo-img">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            {% for item in site.data.navigation %}
            <li class="nav-item {% if page.url == item.link %}active{% endif %}">
                <a class="nav-link" href="{{ item.link }}">{{ item.name }}</a>
            </li>
            {% endfor %}
        <li class="nav-item">
            <a class="nav-link btn" href="/donate/">Donate</a>
        </li>
        </ul>
    </div>
</nav>