.docs {
    text-align: justify;

    .index {
        position: -webkit-sticky;
        position: sticky;
        top: 20px;

        li {
            margin-bottom: 5px;
        }
        a {
            color: $blackColor;
            border-right-style: solid;
        }

        .active {
            a {
                color: $mainColor;
            }
        }
    }

    h3, h4, h5 {
        @media screen and (max-width: $screen-phone) {
            text-align: center;
        }
    }

    .card-body {
        h3 {
            margin: 0 0 15px 0;
        }
    }
    
    table {
        border-collapse: collapse;

        @media screen and (max-width: $screen-phone) {
            display: block;
            overflow-x: auto;
            white-space: nowrap;
        }
       
    }

    td, th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    th {
        background-color: $lightGrayColor;
    }

    blockquote {
        border: 1px solid;
        border-color: $lightGrayColor;
        border-radius: 5px;
        padding: 8px;
        color: $grayColor;
        
        p {
            margin: 0;
        }
    }
      
}

.doc-col {
    padding: 10px;

    .card-link {
        color: $blackColor;
    }

    .card:hover {
        border-color: $mainColor;
    }
}