.jumbotron {
    background-color: transparent;

    h1 {
        font-weight: 400;
        margin: 100px 0 130px 0;

        @media screen and (max-width: $screen-desktop) {
            margin: 80px 0 100px 0;
        }

        @media screen and (max-width: $screen-phone) {
            margin: 35px 0 70px 0;
            font-size: 2.5em;
            height: 150px;
        }
    }

    .btn {
        font-weight: 700;
        font-size: 1.6em;
        background-color: $mainColor;
        color: white !important;
        padding: 13px 30px 13px 30px;
        border-radius: 50px;
        border: 0;

        @media screen and (max-width: $screen-tablet) {
            font-size: 1.3em;
        }
    }

    .btn-subtitle {
        display: block;
        font-size: 1em;
        margin: 10px;
        text-decoration: none;
        color: $grayColor;
    }
}

.hiw {
    background-image: url("/assets/images/background_up.svg"), url("/assets/images/background_down.svg");
    background-position: center top, center bottom;
    background-size: cover, cover;
    background-repeat:no-repeat, no-repeat;
    padding: 80px 0px 40px 0px;
    color: white;

    @media screen and (max-width: $screen-tablet) {
        padding: 70px 15px 40px 15px;
    }

    .teaser-text {
        font-size:1.4em;
    }

    .text-example {
        font-size: 2em;
        background-color: white;
        color: $blackColor;
        max-width: 500px;
        padding: 15px 5px 15px 5px;
        border-radius: 5px;
        margin: auto;
    }
}

.features {
    margin-top: 50px;

    h2 {
        font-weight: 700;
    }

    h3 {
        font-weight: 700;
    }

    h4 {
        font-weight: 700;
    }

    .feature-col {
        padding: 0 35px 0 35px;
        margin: 20px 0 10px 0;

        img {
            height: 100px;
            margin: 20px;
        }
    }

    .description {
        min-height: 80px;
    }

    .feature-example {
        font-size: 1.5em;
        background-color: $blackColor;
        color: white;
        height: 90px;
        width: 100%;
        padding: 10px 20px 10px 20px;
        border-radius: 5px;
        margin: auto;
        text-align: left;
    }

    .extra-feature-col {
        padding: 0 25px 0 25px;
        margin: 10px 0 10px 0;

        img {
            height: 70px;
            margin: 0 0 30px 0;
        }
    }

    .btn {
        font-weight: 700;
        font-size: 1.4em;
        background-color: $mainColor;
        color: white !important;
        padding: 13px 30px 13px 30px;
        border-radius: 40px;
        border: 0;

        @media screen and (max-width: $screen-tablet) {
            font-size: 1.3em;
        }
    }
}