.sponsors {
    text-align: center;

    .heading {
        text-align: center;
    }

    .sponsor-img {
        width: 100px;
        margin: auto;
    }

    .sponsor-name {
        text-align: center;
        text-decoration: none;
        color: $veryBlackColor;
        font-size: 24px;
        margin: 0;
    }
}