@import '_sizes';
@import '_colors';
@import '_default';
@import '_header';
@import '_homepage';
@import '_syntax';
@import '_install';
@import '_donate';
@import '_footer';
@import '_docs';
@import '_sponsors';