<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.federicoterzi.espanso</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>{{{PATH}}}</string>
    </dict>
    <key>ProgramArguments</key>
    <array>
        <string>{{{espanso_path}}}</string>
        <string>daemon</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardErrorPath</key>
    <string>/tmp/espanso.err</string>
    <key>StandardOutPath</key>
    <string>/tmp/espanso.out</string>
</dict>
</plist>